# general things to ignore
build/
dist/
*.egg-info/
*.egg
*.py[cod]
__pycache__/
*.so
*~
.env
.history
reports/
.DS_Store
Desktop.ini

# python tooling
.tox
.cache
.pytest_cache
.pdm-python
__pypackages__/
.mypy_cache
pypi-*/

# other
.vscode/settings.json
venv/
.venv/
tests/ape/.build
examples/asyncio_example.py
node_modules
